{% extends 'base.html' %}

{% block content %}

    <div class="container col-lg-6 col-lg-offset-3">

    {% if user.is_authenticated %}

        <h1 class="text-center">Record {{record.id}} </h1>
        <div class="card mb-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>First Name:</strong> {{record.first_name}}</li>
            <li class="list-group-item"><strong>Last Name:</strong> {{record.last_name}} </li>
            <li class="list-group-item"><strong>Email:</strong> {{record.email}}</li>
            <li class="list-group-item"><strong>Phone:</strong> {{record.phone}}</li>
            <li class="list-group-item"><strong>Address:</strong> {{record.address}}</li>
            <li class="list-group-item"><strong>City:</strong> {{record.city}}</li>
            <li class="list-group-item"><strong>State:</strong> {{record.state}}</li>
            <li class="list-group-item"><strong>Zipcode:</strong> {{record.zipcode}}</li>
        </ul>
        </div>
        <div class="d-grid gap-2">
              <a class="btn btn-secondary" href="{% url 'home' %}">Go Back </a>
              <a class="btn btn-danger" href="{% url 'delete' record.id %}">Delete Record </a>
        </div>
    {% endif %}
    </div>
{% endblock %}